@model OnlineStore.Models.ViewModel.UserPurchasesViewModel

@{
    ViewData["Title"] = "UserPurchases";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Покупки</h1>

<div>
    <hr />
    @foreach(var i in Model.Purchases)
    {
        <div class="row">
            <h3>Покупки @i.CreationTime date</h3>
            <div class="row" style="margin-left: 5px;">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Название</td>
                            <td>Количество</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var j in i.PurchaseProducts)
                        {
                        <tr>
                            <td>
                                <a asp-action="Index"
                                   asp-controller="Product"
                                   asp-route-id="@j.ProductId">@j.Product.Name</a>
                            </td>
                            <td>
                                @j.Count
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <h4>
                    Адрес: @i.Adress
                </h4>
                <hr>
                <br>
                <h4>
                    Сумма покупки: @i.FullPrice
                </h4>
            </div>
        </div>
        <br>
        <hr>
    }

</div>
<div>
    <a asp-action="Index" asp-controller="Home">На главную</a>
</div>
